<!-- fluid container & Meet the band div begin -->
<div class="container-fluid  jumbotron" id="meet-the-band">
    <div class="row-fluid">
        <h1 class="text-center">Meet The Band</h1>
        <!-- nav tabs begin -->
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="" data-target="#home">Joey</a></li>
            <li><a data-toggle="tab" href="" data-target="#menu1">Jason</a></li>
            <li><a data-toggle="tab" href="" data-target="#menu2">Paulette</a></li>
        </ul>

        <div class="tab-content container-fluid">
            <div id="home" class="tab-pane fade in active">
                <h2>Joe Bloggs&#44; Lead Guitarist</h2>
                <img class="img-thumbnail img-responsive" src="../img/meet-the-band/landscape-nature-man-person.jpg" alt="Joe Bloggs" />
                <p>Hey fans&#33; I&#39;m Joe Bloggs&#44; but you can call me Joey&#46; I play lead guitar in the group&#46; We want to thank you all for being our loyal fans and helping us on our journey to stardom&#44; we sincerely mean that&#33; Without you all we would not be here where we are today&#46; Rock on&#33;</p>
                <p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
                <p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h2>Jason De Santos&#44; Saxophone</h2>
                <img class="img-thumbnail img-responsive" src="../img/meet-the-band/pexels-photo.jpg" alt="John Smith" />
                <p>Always a pleasure people! Hope you enjoyed it as much as I did. Could I BE.. any more pleased?</p>
                <p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
                <p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h2>Paulette Wall, Jazz Singer</h2>
                <img class="img-thumbnail img-responsive" src="../img/meet-the-band/sing-singing-singer-microphone-64274.jpeg" alt="Paulette Wall" />
                <p>I mean, sometimes I enjoy the show, but other times I enjoy other things.</p>
                <p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
                <p>Bresaola frankfurter ham shoulder, turducken pig ribs tri-tip, ham jerky ham beef, pig pork andouille frankfurter. Tip jerky ham corned, kevin tip shankle. Cow tip corned andouille. Cow tip flank prosciutto. Hock sopressata kielbasa jowl shoulder ham chicken pig prosciutto, cow tail bierschinken, pork sausage frankfurter cow ham ground turducken bresaola cow pig ham boudin ground ribs tip tri-tip salami flank porchetta tail cow tip beef prosciutto. Pig ribs pancetta, turkey andouille sopressata.</p>
            </div>
        </div>
        <!-- nav tabs end -->

        <hr>

        <!-- audio controller - ref: https://www.webcodegeeks.com/html5/html5-audio-player-example/  -->
        <div ng-controller="AudioController">
            <h3>{{title}}</h3>
            <div id="audio-player">
                <audio controls="controls" preload="auto">
                    <p>You're browser does not support the suio element.</p>
                </audio>
            </div>
            <div id="audio-player-buttons">
                <button id="next-button" class="btn-lg btn-warning">Next</button>
            </div>
            <!-- audio controller end -->
            <!-- table begin -->
            <div id="table">
                <table id="song-table">
                    <thead>
                        <tr>
                            <th id="album-art">
                                <h3>{{albumart}}</h3>
                            </th>
                            <th id="track-info">
                                <h3>{{track}}</h3>
                            </th>
                            <th id="track-duration">
                                <h3>{{duration}}</h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- (ng-repeat) loop over each song in the list -->
                        <tr>
                            <!-- album image -->
                            <td><img class="img-thumbnail img-responsive" src="../img/album-covers/album.jpg" alt="img-1" /></td>
                            <!-- track name info -->
                            <td>Last Train To Clarksville</td>
                            <!-- track duration info -->
                            <td>2:46</td>
                        </tr>
                        <tr>
                            <!-- album image -->
                            <td><img class="img-thumbnail img-responsive" src="../img/album-covers/album2.jpg" alt="img-1" /></td>
                            <!-- track name info -->
                            <td>Daydream Believer</td>
                            <!-- track duration info -->
                            <td>2:43</td>
                        </tr>
                        <tr>
                            <!-- album image -->
                            <td><img class="img-thumbnail img-responsive" src="../img/album-covers/cover.jpg" alt="img-1" /></td>
                            <!-- track name info -->
                            <td>I'm a Believer</td>
                            <!-- track duration info -->
                            <td>2:35</td>
                        </tr>
                        <tr>
                            <!-- album image -->
                            <td><img class="img-thumbnail img-responsive" src="../img/album-covers/cover1.jpg" alt="img-1" /></td>
                            <!-- track name info -->
                            <td>I'm Not Your Stepping Stone</td>
                            <!-- track duration info -->
                            <td>2:22</td>
                        </tr>
                        <tr>
                            <!-- album image -->
                            <td><img class="img-thumbnail img-responsive" src="../img/album-covers/album.jpg" alt="img-1" /></td>
                            <!-- track name info -->
                            <td>Tail Toddle</td>
                            <!-- track duration info -->
                            <td>1:27</td>
                        </tr>
                    </tbody>
                </table>
                <!-- table end -->
            </div>
            <!-- table div end -->
        </div>
        <!-- ng audio controller end -->
    </div>
    <!-- fluid row end -->
</div>
<!-- fluid container & meet the band div end -->