/* import the glyphicons */

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

/* main body style */

html {
    position: relative;
    min-height: 100%;
}

body {
    max-width: 960px;
    padding-top: 60px;
    padding-bottom: 42px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/home/record-photo-14075.jpeg");
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
}


/* home styling */

#body-content {
    font-family: sans-serif;
}

#last-nav-item {
    margin-right: 16px;
}

.container-fluid,
.row-fluid {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.jumbotron {
    background-color: #333;
    opacity: 0.9;
    filter: alpha(opacity=0.9);
}


/* override jumbotron */

.jumbotron P {
    font-size: 1.2em;
    font-family: sans-serif;
}


/* Carousel Styling - Carousel base class */

.carousel {
    height: 500px;
    margin-bottom: 25px;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
}


/* Declare heights because of positioning of img element */

.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    margin: auto;
    height: 500px;
    border-radius: 5px;
}

#slides_control > div {
    height: 200px;
}

#slides_control {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 20px;
    margin-left: -200px;
}


/* itunes search style */

.form-control {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 225px;
    max-width: 450px;
    margin-bottom: 5px;
}


/* override bootstrap CSS */

.btn-lg {
    color: black;
    margin-bottom: 10px;
}

#search-table,
#song-table {
    width: 100%;
    text-align: center;
    font-size: 14px;
    border: solid 2px #f0ad4e;
}

#search-table img {
    margin: 5px;
}

#song-table img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

table thead tr th h3 {
    text-align: center;
    text-decoration: underline;
    margin: 16px;
    color: #f0ad4e;
}

table tbody tr td a {
    font-size: 14px;
    text-decoration: none;
    color: #f0ad4e;
}


/* our music page style */

#meet-the-band {
    width: 100%;
}

#meet-the-band td img {
    width: 100px;
    height: 100px;
}

#meet-the-band p {
    padding: 20px;
    text-align: left;
}


/* Audio player style */

#audio-player,
#audio-player-buttons {
    width: 100%;
    text-align: center;
    margin: 5px;
}


/* contact styling */

fieldset legend {
    background: #f0ad4e;
    color: #000;
    padding: 5px 10px;
    font-size: 60px;
    border-radius: 5px;
}

fieldset {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: solid 2px #f0ad4e;
    background: #333;
    border-radius: 5px;
    padding: 10px;
}

.validation-span {
    font-weight: 400;
    color: #ff0000;
}

.label {
    margin: 10px;
}

.list-group-item-text,
.booking-info {
    margin-top: 10px;
}

.list-group .btn-lg {
    margin: 10px;
}


/* map style */

#googleMap {
    width: 100%;
    height: 500px;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

.map-pin-text {
    color: #000;
}


/* footer style */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

footer p {
    float: left;
    text-align: center;
    margin-top: 20px;
}


/* social icons */

footer ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    float: right;
    list-style: none;
    color: #f0ad4e;
    font-size: 40px;
    margin: 5px;
}

.fa {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    color: #666;
}

.fa:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}


/*
    Multicoloured Hover Variations
*/

.fa-facebook-square:hover {
    color: #3B5998;
}

.fa-twitter-square:hover {
    color: #4099FF;
}

.fa-google-plus-square:hover {
    color: #d34836;
}

.fa-envelope:hover {
    color: #f1df23;
}


/* Responsive Design Handling */


/* Large desktop */

@media (min-width: 980px) and (max-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 42px;
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    padding-top: 60px;
    padding-bottom: 42px;
}


/* Landscape phone to portrait tablet */

@media (min-width: 481px) and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 42px;
}


/* Landscape phones and down */

@media (min-width: 190px) and (max-width: 480px) {
    /* home style */
    body {
        padding-top: 60px;
        padding-bottom: 42px;
    }
    .container-fluid,
    .row-fluid {
        text-align: center;
        padding-left: 1px;
        padding-right: 1px;
    }
    /* itunes search style */
    #search-table {
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        border: solid 1px #fff;
    }
    #search-table td {
        text-align: center;
        color: #fff;
        font-size: 10px;
    }
    #search-table a {
        font-size: 12px;
    }
    #search-table td img {
        width: 32px;
        height: 32px;
        margin: 2px;
    }
    #search-table h3 {
        font-size: 12px;
    }
    .form-control {
        margin-left: auto;
        margin-right: auto;
        max-width: 200px;
        text-align: center;
        margin-bottom: 5px;
    }
    /* override bootstrap CSS */
    .btn-lg {
        font-size: 10px;
        color: black;
        margin-bottom: 5px;
    }
    /* our music page style */
    #meet-the-band {
        width: 100%;
    }
    #meet-the-band img {
        max-width: 225px;
        max-height: 225px;
        margin: 5px 5px;
    }
    #meet-the-band p {
        font-size: 10px;
        text-align: inherit;
    }
    #audio-player audio {
        max-width: 200px;
    }
    #song-table h3 {
        font-size: 12px;
    }
    #song-table a {
        font-size: 12px;
    }
    #song-table td {
        text-align: center;
        color: #fff;
        font-size: 10px;
    }
    #song-table {
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        border: solid 1px #fff;
    }
    #song-table td img {
        width: 32px;
        height: 32px;
    }
    footer p {
        font-size: 12px;
    }
    footer ul {
        color: #f0ad4e;
        font-size: 14px;
        margin-top: 18px;
    }
}